<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Berliner</title>
	<style type="text/css">
		{{.Style}}
	</style>
</head>
<body>
	<div class="container">
	<header>
		<h1>Berliner</h1>
		<h2>{{fDate .Now}}</h2>
	</header>
	<section>
		{{ range .Posts }}
			{{ if .Body }}
				<article>
					<h1><a href="{{.Permalink}}">{{ .Title }}</a></h1>
					<aside>
						<h2>{{.OriginVia}}</h2>
						<h3>{{fDate .Date}}</h3>
						{{ range .Authors }}
							<h4>{{.}}</h4>
						{{end}}
						<div class="tags">
							{{ range .Tags }}
								<span class="tag">{{.}}</span>
							{{end}}
						</div>
					</aside>
					<div class="content">
						<em>{{ .Summary }}</em>
						{{ if gt (len .Images) 0 }}
							{{ insertImage .Body ((index .Images 0).HTML) }}
						{{ else }}
							{{ .Body }}
						{{ end }}
					</div>
				</article>
			{{ end }}
		{{ end }}
	</section>
	</div>
</body>
</html>
